<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trip Planner</title>
	<link rel="icon" type="image/png" href="https://www.vhv.rs/dpng/d/23-239765_travel-agency-logo-no-background-hd-png-download.png" />
	<link rel="stylesheet" href="css/style.css">
	<!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
	<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="css/sign_in.css" rel="stylesheet">
	<style>
		/* body{
				background-color: aliceblue;
			} */
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}

		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}

		.login-form input[type="password"],
		.login-form input[type="text"],.login-form input[type="email"],.login-form input[type="name"],.login-form input[type="userid"]  {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing: border-box;
		}

		.login-form input[type="submit"],
		button {
			width: 100%;
			padding: 15px;
			background-color: #1C0C5B;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}

		button {
			margin-top: 10px;
		}

		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}

		.b-example-divider {
			height: 3rem;
			background-color: rgba(0, 0, 0, .1);
			border: solid rgba(0, 0, 0, .15);
			border-width: 1px 0;
			box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
		}

		.b-example-vr {
			flex-shrink: 0;
			width: 1.5rem;
			height: 100vh;
		}

		.bi {
			vertical-align: -.125em;
			fill: currentColor;
		}

		.nav-scroller {
			position: relative;
			z-index: 2;
			height: 2.75rem;
			overflow-y: hidden;
		}

		.nav-scroller .nav {
			display: flex;
			flex-wrap: nowrap;
			padding-bottom: 1rem;
			margin-top: -1px;
			overflow-x: auto;
			text-align: center;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
		}
	</style>
	
</head>
<header>

	<!-- our main logo -->
	<a id="logo" href="/">
		<img src="https://www.vhv.rs/dpng/d/23-239765_travel-agency-logo-no-background-hd-png-download.png" alt="Logo">
		<span>Trip Planner</span>
	</a>

	<!-- main navigation links -->
	<nav>
		<ul>
			<li><a href="/">Explore City</a></li>
			<li><a href="/">Book Travel</a></li>
			<li><a href="/">Hotel Reservation</a></li>
		</ul>
	</nav>

</header>

    <div class="login-form" style = "margin: 168px auto; background-color: #f4f1f1; box-shadow: 7px 7px 5px 4px rgb(0 0 0 / 57%);">

        <body class="text-center" style="background-image: url(https://images.unsplash.com/photo-1505832018823-50331d70d237?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2708&q=80);background-size: cover;min-height: 800px;">

            <main class="form-signin w-100 m-auto">
                <form action="add_user" method="post">
                    
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                    <div class="form-floating">
                        <label for="floatingInput">user_code</label>
                        <input type="userid" class="form-control" id="floatingInput" name="userid" placeholder="user_code it should be unique" required>
                    </div>
                    <div class="form-floating">
                        <label for="floatingInput">Name</label>
                        <input type="name" class="form-control" id="floatingInput" name="name" placeholder="name" required>
                    </div>
                    <div class="form-floating">
                        <label for="floatingInput">Email address</label>
                        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                    </div>
                    <div class="form-floating">
                        <label for="floatingPassword">Password</label>
                        <input type="password" class="form-control" id="floatingPassword" name="password"  placeholder="Password" required>
                    </div>

                    <!-- <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div> -->
                    <button class="w-100 btn btn-lg btn-primary" type="submit">sign in</button>
					<!-- <a href="/">sign_in</a> -->
                    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2023–2024</p> -->
                </form>
                <br>
            </main>
    </div>



    </body>

    </html>