<% for(var i=0; i < data1.length; i++) { %>
    <tr>
      <td><%= data1[i].cab_service_id %></td>
      <td><%= data1[i].cab_type %></td>
      <td><%= data1[i].cost_per_day %></td>
    </tr>
    <% } %>